{
  "team" : [
    "jeffdomke",
    "aulneau",
    "friedger",
    "larrysalibra",
    "jcnelson",
    "kantai",
    "moxiegirl",
    "markmhx",
    "shea256",
    "zone117x",
    "hstove",
    "yknl",
    "shreyasthiagaraj",
    "cwackerfuss",
    "muneeb-ali",
    "guylepage3",
    "wbobeirne",
    "muneebm",
    "wileyj",
    "shanvoight",
    "jackzampolin",
    "cuevasm",
    "altuncu" ],
  "org": "blockstack",
  "apiKey": "EXAMPLE_API_KEY",
  "reposToSkip" : [ "daily-scrum", "animal-kingdom" ]
}
